* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  border: 2px solid black;
  font-size: 5rem;
}
.bridge {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/bridge.jpeg") center/cover no-repeat fixed;
  width: 100vw;

  min-height: 100vh;

  /* background-repeat: space; */

  position: relative;
}
.girl {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("./images/girl.jpeg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.telephone {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("./images/telephone.jpeg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
p {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
